<table class="table table-hover">
  <thead>
    <tr>
      <th class="file-item file-name col-sm-6 col-xs-8">
        <span class="glyphicon glyphicon-th-list"></span>
        <strong></strong>
      </th>
      <th class="file-item file-date col-sm-2 hidden-xs">
        <strong>Created</strong>
      </th>
      <th class="file-item file-date col-sm-2 col-xs-2">
        <strong>Modified</strong>
      </th>
      <th class="col-sm-2 col-xs-2">
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each data.files as |file|}}
    <tr data-id="{{file.id}}">
      <td class="col-sm-6 col-xs-8">
        <span class="file-icon glyphicon glyphicon-file"></span>
        <a href="{{file.url}}" class="btn btn-link file-name" target="_blank">{{file.name}}</a>
      </td>
      <td class="file-date file-date-created col-sm-2 hidden-xs">{{file.createdAt}}</td>
      <td class="file-date file-date-modified col-sm-2 col-xs-2">{{file.updatedAt}}</td>
      <td class="col-sm-2 col-xs-2 text-right">
        {{#isOwner owner user=../data.userID owner=file._owner}}
          <div class="btn-group">
            <button class="btn btn-default" id="each-file-delete">
              <i class="glyphicon glyphicon-trash"></i>
            </button>
            <button class="btn btn-default" id="each-file-update">
              <i class="glyphicon glyphicon-pencil"></i>
            </button>
            <a href="{{file.url}}" class="btn btn-primary" id="each-file-download" download>
              <i class="glyphicon glyphicon-download-alt"></i>
            </a>
          </div>
        {{else}}
          <a href="{{file.url}}" class="btn btn-primary" id="each-file-download" download>
            <i class="glyphicon glyphicon-download-alt"></i>
          </a>
        {{/isOwner}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
